<ion-header>
  <ion-toolbar color="light">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

 <p>Welcome
  <!-- <ion-text color="danger" *ngIf="auth.user$ | async as user; else anonymousUser">{{ user.displayName }}</ion-text>  -->
  to my App.
</p>

<ion-button slot="start" [routerLink]="['/login']" routerLinkActive="active">
  LogIn
  </ion-button>
<!-- <ion-button slot="start" (click)="logInWithGoogle()" [routerLink]="['/login']" routerLinkActive="active">
  LogIn With Google
  </ion-button>
  
<ion-button slot="start" (click)="logOutWithGoogle()" [routerLink]="['/login']" routerLinkActive="active">
  LogOut With Google
  </ion-button> -->



  